body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#alert {
  position: fixed;
  top: 15%;
  opacity: 0.8;
  left: 10%;
  width: 80%;
}

.map {
  position: relative !important;
}

.colorred {
  color: darkred;
}

.customhr {
  height: 3px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: grey;
  padding-top: 0px;
  padding-bottom: 0px;
}

.surfacePerc {
  height: 7px;
  background-color: darkgrey;
}

.monthPerc {
  height: 7px;
  background-color: darkred;
}

.calMonth {
  font-size: small;
}

.calRideDay {
  background-color: red;
}

.calMonth {
  width: 100%;
}

.calMonth tbody tr td {
  width: 12.8%;
}

.invalid_stat_data {
  background-color: red;
}